@model IEnumerable<Computacion.Models.Venta>
<link href="~/Content/Lista2.css" rel="stylesheet" />

<table class="table">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th> 
    </tr>

@foreach (var item in Model) {
    <tr class="info">
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>       
        
        <td>
            <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-success">Seleccionar</a>
            @*@Html.ActionLink("Seleccionar", "Details", new { id=item.Id })*@             
        </td>
    </tr>
}

</table>
