
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 30.33%;
    padding: 5px;
    /*border-radius: 93px 93px 93px 93px;
    -moz-border-radius: 93px 93px 93px 93px;
    -webkit-border-radius: 93px 93px 93px 93px;
    border: 7px dashed #000000;
    margin: 0px;*/
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
#borderDemo {
    border: 6px double #A46E40;
    border-radius: 40px;
}
